.card {
  width: 110px;
  height: 150px;

  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  transform: rotate(5deg);
  border-top: 1px solid rgb(216, 214, 214);
  box-shadow: 0 0 10px black;
  border-radius: 5px;
  margin-bottom: 14px;
}
.card-info {
  width: 100%;
  height: 45px;
  background: linear-gradient(90deg, transparent, rgba(59, 58, 58, 0.792));
}
.card-info p {
  font-weight: bold;
  margin: 5px;
  text-align: center;
  text-shadow: 0 0 10px black;
}

/* Card info */
.date-note {
  color: rgb(162, 161, 161);
}
.date-note-mobile {
  display: flex;
  justify-content: flex-start;
}

.card-info-duration {
  font-weight: lighter;
  font-size: 20px;
}
.card-info-duration span {
  font-size: 12px;
}
.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
}
.card-footer p {
  font-size: 22px;
  font-weight: lighter;
}
.card-footer .min {
  font-size: 12px;
}
.add-more-container {
  color: rgb(190, 124, 1);
  margin-left: 10px;
  cursor: pointer;
}
.change-icons {
  color: grey;
}

/* Circle kcal */
.goal-cal {
  text-align: center;
  color: orange;
}
.circle {
  height: 120px;
}
