@import url("https://fonts.googleapis.com/css2?family=Play&family=Quintessential&display=swap");
:root {
  --dark-input: rgb(30, 30, 30);
}

.form-create {
  width: 400px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(39, 38, 38), rgb(61, 60, 60));
  border-radius: 6%;
  outline: none;

  left: 50%;
  right: 50%;
  z-index: 100;
  font-family: "Play", sans-serif;
  box-shadow: 5px 5px 20px black;
}

.form-close {
  transform: scale(0.7);
  opacity: 0;
}
.form-open {
  transform: scale(1);
  transition: 0.3s;
  opacity: 1;
}

/* Header */
.action-header {
  color: rgb(176, 173, 173);
  background: rgb(13, 13, 13);
  height: 56px;
  padding-left: 30px;
  margin-bottom: 20px;
  border-top: 1px solid rgb(132, 131, 131);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cross {
  color: orange;
}

.form-group {
  margin-bottom: 16px;
  text-align: center;
}

/* Duration */
.label-duration {
  margin-right: 100px;
  color: grey;
}

input {
  width: 70%;
  padding: 6px;
  margin: 8px;
  outline: none;
  border: none;
  background: rgb(159, 158, 158);
  border-radius: 5px;
}
::placeholder {
  color: rgb(77, 76, 76);
}

.note {
  padding-bottom: 20px;
}

/* Button-container */
.btn {
  background: linear-gradient(90deg, orange, rgb(248, 211, 61));
  width: fit-content;
  outline: none;
  border-top: 1px solid grey;
  border-radius: 25px;
  padding: 6px 10px;
  font-weight: bold;
}
.btn-container {
  margin: 20px;
  margin-left: auto;
}
.btn-goon,
.btn-cancel {
  cursor: pointer;
}

.btn-goon {
  margin-left: 10px;
  transition: 0.3s;
}
.btn-goon:hover {
  background: linear-gradient(90deg, rgb(248, 211, 61), orange);
  box-shadow: 5px 5px 5px black;
}
.btn-cancel {
  background: transparent;
  color: orange;
  border: 1.4px solid orange;
  width: fit-content;
  outline: none;
  border-radius: 25px;
  padding: 6px 10px;
  transition: 0.3s;
}
.btn-cancel:hover {
  box-shadow: 5px 5px 5px black;
}
/* History */
.history-btn-container {
  /* background: red; */
  text-align: right;
}
.history-btn {
  margin: 24px 0;
  margin-left: auto;
}
